[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pytest = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.9"
